exportPattern("^[[:alpha:]]+")
exportPattern("^[^\\.]")
import(BGLR)
import(rrBLUP)
import(data.table)
import(magrittr)
import(ggplot2)
import(bigmemory)
import(biganalytics)
import(compiler) #this import is already installed in R
import(MASS) # required for ginv
import(multtest)
import(gplots)
import(scatterplot3d)
import(R.utils)
import(LDheatmap)
import(genetics)
import(ape)
import(EMMREML)
